.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.item-img {
  display:flex;
  justify-content: center;
  align-items: center;
}
.row *{
  margin: 10px 0px;
}
.btn-name {
  display:flex;
  flex-direction: column;
  align-items: center;
}
#loading-bar {
  height: 24px;
  width: 100%;
  background: #333;
}
#loading-bar > #progress{
  height:24px;
  width: 0;
  background: #f2618f;
  animation: loading 1s ease-in-out 0s infinite alternate;
}
.VictoryLineContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.VictoryContainer {
  width: 500px!important;
  height: 350px!important;
}
@keyframes loading {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
