.dataTables_wrapper {
  margin-bottom: 128px;
}
.table thead{
  background: var(--gray-dark)!important;
}
.table thead:nth-child(3) {
  display:none;
}
.urgent {
  font-weight: bolder;
}
/* I stole the below line from stackoverflow, so thanks stranger */
.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid var(--gray-dark)!important;
}
tr p {
  font-weight: bolder;
  color: red;
  margin-bottom: 0;
}
tr p:hover {
  cursor: pointer;
}
.form-control {
  width:auto!important;
}
.Pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 128px;
}
.Pagination li a{
  font-size: 1.3em;
  border: 1px solid #000;
  border-radius: 5px;
  min-width: 30px;
  padding: 4px 12px;
  margin: 4px;
  text-decoration: none;
  transition: all .2s ease-out;
}
.Pagination li a:hover {
  cursor: pointer;
  color: #fff;
  background: #343a40;
}
